.brand-image2 {
    line-height: .8;
    max-height: 30px;
    width: auto;
    margin-left: .8rem;
    margin-right: .5rem;
    margin-top: -3px;
}

.table-title {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0;
}